<div class="w3-row-padding  w3-Commanditaires">
  <div  class="w3-third w3-center center-Commanditaires"><a href="https://www.vittoria.com/ww/en/tyres/gravel-cross"><img src="/assets/images/vittoria.png"></a></div>
  <div  class="w3-third w3-center center-Commanditaires"><a href="https://velooptimum.com/" ><img src="/assets/images/logo-velooptium.svg" style="width:200%;height:200%;"></a></div>
  <div  class="w3-third w3-center center-Commanditaires"><a href="https://www.ville.levis.qc.ca"><img src="/assets/images/logo-levis.png"><br>Ville de Lévis</a></div>
</div>