<div class="w3-top">
        <div class="w3-bar w3-CyclesDupont w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          
          <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CX418</a>   
          <div class="w3-dropdown-hover w3-hide-small">
              <a href="/CircuitLevis/index.html" class="w3-padding-large w3-button">Circuit Régionale<i class="fa fa-caret-down"></i></a>                 
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/CircuitLevis/index.html#circuit" class="w3-bar-item w3-button  w3-padding-large">Introduction</a>                
                <a href="/CircuitLevis/index.html#calendrier" class="w3-bar-item w3-button w3-padding-large">Calendrier</a>
                <a href="/CircuitLevis/index.html#inscription" class="w3-bar-item w3-button w3-padding-large">Coûts et Inscription</a>
                <a href="/CircuitLevis/index.html#Parcours" class="w3-bar-item w3-button w3-padding-large">Parcours</a>                 
                <a href="/CircuitLevis/index.html#Resultat" class="w3-bar-item w3-button w3-padding-large">Résultat</a>
                <a href="/CircuitLevis/index.html#Photos" class="w3-bar-item w3-button w3-padding-large">Photos</a>
                <a href="/CircuitLevis/index.html#contactTemplate" class="w3-bar-item w3-button w3-padding-large">Contact</a>
              </div>
          </div>          
          <a href="http://www.labuckland.ca" class="w3-bar-item w3-button w3-padding-large w3-hide-small">La Buckland</a>          
          <a href="/index.html#contactTemplate" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>    
        </div>
      </div>
    
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large">CX418</a>
      <a href="/CircuitLevis/index.html" class="w3-bar-item w3-button w3-padding-large">Circuit</a>            
      <a href="http//www.labuckland.ca" class="w3-bar-item w3-button w3-padding-large">La Buckland</a>
      <a href="#contactTemplate" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    </div>