<div class="w3-top">
        <div class="w3-bar w3-red w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          
          <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CX418</a>   
          <div class="w3-dropdown-hover w3-hide-small">
              <button class="w3-padding-large w3-button" title="More">LE CIRCUIT <i class="fa fa-caret-down"></i></button>     
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/CircuitLevis/index.html#circuit" class="w3-bar-item w3-button  w3-padding-large">Le Circuit2222</a>
                <a href="/CircuitLevis/index.html#Parcours" class="w3-bar-item w3-button w3-padding-large">Parcours</a>
                <a href="/CircuitLevis/index.html#calendrier" class="w3-bar-item w3-button w3-padding-large">Calendrier</a>
                <a href="/CircuitLevis/index.html#inscription" class="w3-bar-item w3-button w3-padding-large">Coûts et Inscription</a>                    
                <a href="/CircuitLevis/index.html#Resultat" class="w3-bar-item w3-button w3-padding-large">Résultat</a>
                <a href="/CircuitLevis/index.html#Photos" class="w3-bar-item w3-button w3-padding-large">Photos</a>
                <a href="/CircuitLevis/index.html#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
              </div>
          </div>          
          <a href="/entrainements" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ENTRAÎNEMENTS</a>
          <div class="w3-dropdown-hover w3-hide-small">
              <button class="w3-padding-large w3-button" title="More">ÉVÈNEMENTS <i class="fa fa-caret-down"></i></button>     
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/Evenements/index.html#clinique" class="w3-bar-item w3-button  w3-padding-large">Clinique Pre-Saison</a>
                <a href="/Evenements/index.html#bikeswap" class="w3-bar-item w3-button w3-padding-large">Marché aux puces</a>
                <a href="/Evenements/index.html#dejeunecxwc" class="w3-bar-item w3-button w3-padding-large">Déjeuné Championnats du Monde</a>                   
              </div>
          </div>
          <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>    
        </div>
      </div>
    
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="../index.html" class="w3-bar-item w3-button w3-padding-large">CX418</a>
        <a href="#circuit" class="w3-bar-item w3-button w3-padding-large">Circuit</a>
      <a href="#calendrier" class="w3-bar-item w3-button w3-padding-large">Calendrier</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
      <a href="#Site" class="w3-bar-item w3-button w3-padding-large">Site</a>
      <a href="#Resultat" class="w3-bar-item w3-button w3-padding-large">Résultat</a>
      <a href="#Inscription" class="w3-bar-item w3-button w3-padding-large">Inscription</a>
      <a href="#Photos" class="w3-bar-item w3-button w3-padding-large">Photos</a>
    </div>